<div class="container">
    <div class="row">
        <div class="col-2">
          
        </div>
        <div class="col-8">
          <div class="text-center h5 p-2 bg-light text-monospace font-weight-light border border-info border-top-0">Angular Random Projects</div>
        </div>
        <div class="col">
        </div>
      </div>
    <div class="row">
        <div class="col">
            <div class="card bg-secondary border-light mb-3" style="max-width: 10rem;">
                <div class="card-header">Header <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></div>
                <div class="card-body text-warning">
                  <h5 class="card-title">title</h5>
                  <p class="card-text">Some quick example</p>
                </div>
              </div>
        </div>
    </div>
</div>
