<!-- <div class="row pb-5">
  <div class="col-2">

  </div>
  <div class="col-8 ">
    <div class="text-center h5 p-2 bg-light text-monospace font-weight-light border border-info border-top-0">Angular
      Random Projects</div>
  </div>
  <div class="col">
  </div>
</div>
<div class="row mt-2">
  <div class="col-4 text-center animated delay-1s slideInLeft">
    <div class="card" data-toggle="collapse" href="#collapseOne">
      <div class="card-body">
        <p data-toggle="collapse" href="#collapseOne" class="m-0"><a href="javascript:void(0);"
            (click)="collapseOne=!collapseOne">Component Interaction<i class="fa ml-1 animated delay-2s jello"
              [ngClass]="{'fa-plus-square': collapse, 'fa-minus-square': !collapse}"
              [ngClass]="{'fa-plus-square': collapseOne, 'fa-minus-square': !collapseOne}"></i></a></p>
      </div>
    </div>
    <div class="collapse commonCollapse animated delay-1s jackInTheBox" id="collapseOne">
      <div class="card card-body">
        <a routerLink="/parent"  href="#" class="card-link text-center bg-primary text-light">Open Project</a>
      </div>
    </div>
  </div>
  <div class="col-4 text-center  animated delay-2s slideInRight">
    <div class="card">
      <div class="card-body">
        <p data-toggle="collapse" href="#collapseTwo" class="m-0"><a href="javascript:void(0);"
            (click)="collapseTwo=!collapseTwo">Custom Modal create<i class="fa ml-1"
              [ngClass]="{'fa-plus-square': collapse, 'fa-minus-square': !collapse}"
              [ngClass]="{'fa-plus-square': collapseTwo, 'fa-minus-square': !collapseTwo}"></i></a></p>
      </div>
    </div>
    <div class="collapse commonCollapse" id="collapseTwo">
      <div class="card card-body">
        <a routerLink="/customs" class="card-link text-center bg-primary text-light">Open Project</a>
      </div>
    </div>
  </div>
  <div class="col-4 text-center animated delay-3s slideInRight">
    <div class="card animated delay-4s headShake">
      <div class="card-body">
        <p data-toggle="collapse" href="#collapseThree" class="m-0"><a href="javascript:void(0);"
            (click)="collapseThree=!collapseThree">Wild Card Route<i class="fa ml-1"
              [ngClass]="{'fa-plus-square': collapse, 'fa-minus-square': !collapse}"
              [ngClass]="{'fa-plus-square': collapseThree, 'fa-minus-square': !collapseThree}"></i></a></p>
      </div>
    </div>
    <div class="collapse commonCollapse" id="collapseThree">
      <div class="card card-body">
        <a routerLink="/wildcard"  class="card-link text-center bg-primary text-light">Open Project</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-4 text-center">
    <div class="card">
      <div class="card-body">
        <p data-toggle="collapse" href="#collapseFive" class="m-0"><a href="javascript:void(0);"
            (click)="collapseFour=!collapseFour">Upcomming..<i class="fa ml-1"
              [ngClass]="{'fa-plus-square': collapse, 'fa-minus-square': !collapse}"
              [ngClass]="{'fa-plus-square': collapseFive, 'fa-minus-square': !collapseFive}"></i></a></p>
      </div>
    </div>
    <div class="collapse commonCollapse" id="collapseFive">
      <div class="card card-body">
        <a href="javascript:void(0);"  class="card-link text-center bg-primary text-light">Open Project</a>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="card">
      <div class="card-body">
        <p data-toggle="collapse" href="#collapseSix" class="m-0"><a href="javascript:void(0);"
            (click)="collapseSix=!collapseSix">Upcomming..<i class="fa ml-1"
              [ngClass]="{'fa-plus-square': collapse, 'fa-minus-square': !collapse}"
              [ngClass]="{'fa-plus-square': collapseSix, 'fa-minus-square': !collapseSix}"></i></a></p>
      </div>
    </div>
    <div class="collapse commonCollapse" id="collapseSix">
      <div class="card card-body">
        <a href="javascript:void(0);"  class="card-link text-center bg-primary text-light">Open Project</a>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="card">
      <div class="card-body">
        <p data-toggle="collapse" href="#collapseFour" class="m-0"><a href="javascript:void(0);"
            (click)="collapseFour=!collapseFour">Upcomming..<i class="fa ml-1"
              [ngClass]="{'fa-plus-square': collapse, 'fa-minus-square': !collapse}"
              [ngClass]="{'fa-plus-square': collapseFour, 'fa-minus-square': !collapseFour}"></i></a></p>
      </div>
    </div>
    <div class="collapse commonCollapse" id="collapseFour">
      <div class="card card-body">
        <a href="javascript:void(0);"  class="card-link text-center bg-primary text-light">Open Project</a>
      </div>
    </div>
  </div>
</div> -->