.deployed{
    background: #175a22 ;
    color: white;
    font-weight: bold;
}
.inprogress{
    background: #036172;
    color: white;
    font-weight: bold;
}

.done{
    color: white;
    background: #8d17d1ee;
    font-weight: bold;
}