<!-- <div class="row">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Done list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">To do list</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" href="javascript:void(0);">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link" href="javascript:void(0);">Register</a>
      </li>
    </ul>
  </div>
  </nav>
</div> -->

<a href="#" class="float" data-toggle="modal" data-target=".bd-example-modal-lg">
  <i class="fa fa-plus my-float"></i>
</a>
<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-add-data></app-add-data>
    </div>
  </div>
</div>

<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <a class="navbar-brand">Bugfix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" href="javascript:void(0);">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link" href="javascript:void(0);">Register</a>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="search"
        autocomplete="off">
    </div>
  </nav>
</div>





<div class="container-fluid" *ngIf="filterData?.length>0; else noData">
  <div class="row">
    <div class="col">
      <mat-accordion>
        <div class="row text-center text-monospace font-weight-bold ">
          <div class="col example-list">
            <div mat-button>Task Title</div>
          </div>
          <div class="col example-list">Description</div>
          <div class="col example-list">Status</div>
        </div>
      </mat-accordion>
    </div>
  </div>
  <div class="row">
    <div cdkDropList class="example-list col" (cdkDropListDropped)="drop($event)">
      <div class="row">
        <div class="col">
          <div class="example-box" *ngFor="let d of filterData | filter:searchText" cdkDrag>
            <div class="row w-100 pt-2" data-toggle="modal" data-target="#myModal">
              <div class="col">
                {{d.title}}
              </div>
              <div class="col">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{d.description}}</p>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="col">
                <button mat-button color="primary">{{d.status}}</button>
              </div>
            </div>
            <!-- Modal -->
            <div class="row">
              <div class="modal fade" id="myModal" role="dialog" *ngIf="detailState && dtoDetails.id == d.id">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">{{d.title| titlecase}}</h4>
                    </div>
                    <div class="modal-body">
                      <p>{{d.description}}</p>
                    </div>
                    <div class="modal-footer">
                      <div class="row w-100">
                        <div class="col">
                          <button type="button" class="btn infinite"
                            [ngClass]="[d.status==='Done' ? 'done' : '',d.status==='Inprogress' ? 'animated flash inprogress' : '',d.status==='Deployed' ? 'deployed deployed' : '']">{{d.status}}</button>
                        </div>
                        <div class="col-8">
                          <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>