<div class="container-fluid mt-2 p-0">
  <mat-card class="p-0">
  <div class="row">
    <div class="col" id="my-pro">
        <nav class="navbar navbar-light bg-light main-menu text-white">
          <a class="navbar-brand">BugFix</a>
          <form class="form-inline">
            <button mat-button>Login</button>
            <button mat-raised-button>Sign Up</button>
          </form>
        </nav>
    </div>
  
  </div></mat-card>
  <div class="row">
    <div class="col bg-light pb-2">
      <!-- <button mat-button  (click)="drawer.toggle()"><i class="fa fa-bars" aria-hidden="true"></i></button> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>