<div class="container-fluid mt-5">
    <div class="row header-part-bg shadow-effect-one">
        <div class="col pb-5">
            <div class="row">
                <div class="col pt-5">
                    <h4 class="text-warning text-uppercase ">
                        BugFix lets you work more collaboratively and get more done.
                    </h4>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ab vitae sint earum vero,
                        voluptatibus
                        inventore tenetur, odio blanditiis ut eius voluptate, deserunt recusandae officia aspernatur
                        atque!
                        Ratione, dignissimos quod.
                    </p>
                </div>
                <div class="col">
                    <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/308998dcb3ed5ab3d01217a4d24ffa03/hero-a.svg"
                        alt="">
                </div>
            </div>
            <div class="row ">
                <div class="col-3"></div>
                <div class="col pt-4 pb-4">
                    <div class="input-group mb-3 mt-4 mb-3">
                        <input style="height:50px;" type="text" class="form-control" placeholder="Email"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">Sign UP</span>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <div class="row section-bg">
            <div class="col pt-4">
                <div class="row">
                   
                        <div class="col p-4"> 
                            <mat-card>
                                <img class="w-100 h-100 img-responsive" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/308998dcb3ed5ab3d01217a4d24ffa03/hero-a.svg"
                                    alt="">
                                    </mat-card>
                            </div>
                        
                    <div class="col pt-5">
                        <h4 class="text-secondary text-uppercase ">
                         Work with any team
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ab vitae sint earum vero,
                            voluptatibus
                            inventore tenetur, odio blanditiis ut eius voluptate, deserunt recusandae officia aspernatur
                            atque!
                            Ratione, dignissimos quod.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>