<div class="container">
  <div class="row">
    <div class="col">
      <h1>Get Data</h1>
      <hr class="my-4">
      <ul class="list-group">
        <li *ngFor="let post of posts; let i = index;" class="list-group-item">
           <div *ngIf="i<10">
              <span>{{i+1}}. </span>
              <button (click)="updatePost(post,value)" class="btn btn-primary btn-sm">update</button>
              <button (click)="deletePost(post)" class="btn btn-danger btn-sm">delete</button>
              <span (click)="editData(data.innerText,value)" #data>{{post.title}}</span>
           </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <h1>Create Post</h1>
      <hr class="my-4">
      <input class="form-control" placeholder="Create post" (keyup.enter)="createPost(value)" #value type="text"
        name="">
    </div>
  </div>
</div>