<div class="jumbotron">
  <h3>Child Component</h3>
  <p class="lead">@Output()</p>
  <hr class="my-4">
  <div class="alert alert-primary" role="alert">
    {{parentData}}
  </div>
  <hr class="my-4">
  <button class="btn btn-primary" (click)="eventFire()">Sent it to parent</button>
  <hr class="my-4">
  <div class="input-group">
    <input class="form-control" #getdata type="text" placeholder="input" aria-label="Recipient's " aria-describedby="my-addon">
    <div class="input-group-append">
      <button (click)="childData(getdata.value)" class="input-group-text btn btn-primary" id="my-addon">Send Data to Parent</button>
    </div>
  </div>
</div>
