
.bar-bgcolor{
	background:#155e63;
}
.base-text-color{color:#155e63;}

.base-color-text{
	color:#1fab89;
}
.header-part-bg{
	background:#20716a;
}
.section-bg{
	background: #ed9a73;
}

.shadow-effect-one{
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}