<div class="row">
  <div class="col-12">
    <div class="card bg-primary text-white">
      <h5 class="card-header">Add data</h5>
      <div class="card-body">
        <form (ngSubmit)="onSubmit();" [formGroup]="form">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="title">Task Title</label>
                <input 
                 formControlName="title"
                 id="title" [(ngModel)]="data.title" 
                 class="form-control" 
                 type="text" 
                 name="title">

                 <div *ngIf="form.get('title').touched && form.get('title').invalid" class="alert alert-danger" role="alert">
                    Title is required
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="description">Description</label>
                <input
                formControlName="description" 
                id="description"  
                [(ngModel)]="data.description"  
                class="form-control" 
                type="text" 
                name="description">

              <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger" role="alert">
                  Description is required
              </div>
              
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="description">Status</label>
                <select class="custom-select mr-sm-2" id="status" name="status" formControlName="status" [(ngModel)]="data.status">
                    <option value="" disabled>Chose status</option>
                    <option *ngFor="let stats of Status" [ngValue]="stats">{{stats}}</option>
                  </select>

              <div *ngIf="form.get('status').touched && form.get('status').invalid" class="alert alert-danger" role="alert">
                  Select Valid status!
              </div>
              
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <input class="btn btn-light" type="submit" value="Submit" name="">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>