.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
}
.table{
    display: table;
}

.close{
    position: absolute;
    right: 20px;
    top: 4px;
    display: block;
    z-index: 9999;
    cursor: pointer;
    display: block
}
.edit-panel{
    position: relative;
}

.float{
    position:fixed;
    top: 230px;
	right:40px;
	color:#FFF;
	text-align:center;
    z-index: 999999;
}

.my-float{
	margin-top:22px;
}